*{
background-color:black;
font-family:Helvetica;
font-size:22px;
color:seashell;
opacity:0.9;
}
header{
display:flex;
justify-content:space-between;
position:fixed;
z-index:1;
width:100%;
top:0px;

height:69px;
}
#heading_1,#heading_2,#heading_3,#heading_4{
display:inline;
}

#heading_1{
margin-top:0px;
margin-left:10px;
font-size:50px;
}
.heading{
display:flex;
align-items:center;
}
#heading_2,#heading_3,#heading_4{
margin-left:15px;
text-decoration:underline;
}
#first_image{
width:1200px;
height:700px;
margin-left:auto;

margin-right: auto;
margin-left: auto;
display:block;
}
.image_main{
position:relative;
}
.image_text{
display:flex;
flex-direction:column;
align-items:center;
opacity:1;
width:1200px;
position:absolute;
top:50%;
 left: 50%;
  transform: translate(-50%, -50%);
padding:0px;
background-color:black;

}
#h2_section_1{

margin-top:2px;
margin-bottom:5px;
}
h4{
margin-top:5px;
margin-bottom:2px;
}
.section_2{
display:flex;
width:1000px;
flex-direction:column;
align-items:center;
}
#main_section2_h1{
margin-top:30px;
font-size:35px;
}
#main_section2_h2{
margin:0px;
font-size:27px;
}
.main_section2_image1_row,.main_section2_image2_row{
display:flex;
}
#section2_img1,#section2_img2,#section2_img3,#section2_img4,#section2_img5{
width:300px;
height:200px;
margin-left:25px;
margin-right:25px;
}
#image1_row1,#image2_row1,#image3_row1,#image4_row2,#image5_row2{
display:flex;
flex-direction:column;
align-items:center;
justify-content: space-around;
}

#bottom_img{
display:block;
width:1200px;
margin-left:auto;
margin-right:auto;
}
.bottom{
position:relative;
background-color:red;
}
#heading_bottom{
position:absolute;
top:100px;
left:50%;
transform: translate(-50%, -50%);
font-size:60px;
height:60px;
background: rgba(0, 0, 0, 0);
}

.bottom_img_flex{
display:flex;
border:2px solid white;
position:absolute;
top:200px;
background: rgba(0,0,0,0) ;
}
.a{
display:flex;
flex-direction:column;
position:absolute;
top:230px;
width:300px;
left:60px;
}
.c{
display:flex;
flex-direction:column;
position:absolute;
top:230px;
width:300px;
right:60px;
}
.b{
display:flex;
flex-direction:column;
position:absolute;
top:230px;
width:300px;
right:37%;
}
h3{
margin:0;
padding:0;

text-align:center;
margin-top:20px;
margin-bottom:10px;
 }
.bottom_heading{
display:flex;
flex-direction:column;
opacity:1;
align-items:center;
margin-left:auto;
position:absolute;
bottom:0px;
width:1200px;
}
.block{
display:block;
width:min-content;
margin-left:auto;
margin-right:auto;
margin-left:auto;
}
#ending{
padding-left:10px;
}

